.View-Table-ReachOut{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: lightgray;
}

.View_Send-Message{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: lightgray;
    visibility: visible;
}

.box-messages{
    margin: 23px auto; /* Center the div horizontally */
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.send-message-title{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.from-user, .to-user{
    display: inline-block;
    margin-top : 20px;
    padding: 5px;
}

textarea{
    min-height: 200px;
    max-height: 200px;
    width: 98.1%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.back-btn{
    font-size: 15pt;
    background-color: lightblue;
    width: 100px;
    border-radius: 5px;
    position: absolute;
    top: 367px;
}