body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.Title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

.Header{
    margin: 30px auto; /* Center the div horizontally */
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name, .course, .section_yl, .evaluatedby{
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 5px;
}

.evaluation-box {
    margin: 30px auto; /* Center the div horizontally */
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 10px 0;
}

.questions1, .questions2, .questions3,
.questions4, .questions5, .questions6,
.questions7, .questions8, .questions9,
.questions10, .questions11, .questions12,
.questions13, .questions14, .questions15,
.questions16, .questions17, .questions18,
.questions19, .questions20 {
    margin-left: 0;
    margin-bottom: 10px;
}

textarea {
    min-height: 100px;
    width: 98.1%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.feedbackbtn {
    width: 100px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedbackbtn:hover {
    background-color: #45a049;
}

.button {
    text-align: center;
}

.contain {
    margin-top: 20px;
    text-align: center;
}
